[general]
servers = dme.org snood.com
#verbose = True
debug = True
# should old mail be deleted?
delete_mail = True

[dme.org]
host = imap.gmail.com
user = dme@dme.org
password = Sc4nvtr
#extension gets passed to procmail via '-a'
subdir = dme/%Y-%m

[snood.com]
host = imap.snood.com
user = david.edmondson
password = Sc4nvtr
subdir = snood/%Y-%m
